In [50]:
import pandas as pd

In [86]:
df = pd.read_csv('/Users/praveenkumarpalai/New/cs_csvs/orgcity.csv')
df

          city_name  orgs_count
0       Los Angeles       21128
1         San Diego       14402
2     San Francisco       12646
3          San Jose        8513
4        Sacramento        7410
...             ...         ...
1282   Fort Bidwell           1
1283    Camp Meeker           1
1284    Catheys Vly           1
1285      Bryn Mawr           1
1286    Salton City           1

[1287 rows x 2 columns]

In [87]:
df['id'] = range(df.shape[0])
df['orgs_score'] = 0
df

          city_name  orgs_count    id  orgs_score
0       Los Angeles       21128     0           0
1         San Diego       14402     1           0
2     San Francisco       12646     2           0
3          San Jose        8513     3           0
4        Sacramento        7410     4           0
...             ...         ...   ...         ...
1282   Fort Bidwell           1  1282           0
1283    Camp Meeker           1  1283           0
1284    Catheys Vly           1  1284           0
1285      Bryn Mawr           1  1285           0
1286    Salton City           1  1286           0

[1287 rows x 4 columns]

In [53]:
search = '2659 Kadota St Simi Valley CA 93063United States'

,Unnamed: 0,k_id,company_name,company_website,company_address,address,employee_band_at_address,employee_band_at_company,final_industry_code,last_update,naics_num,state,year_established,county_name,city_name,zipcode,latitude,longitude,id
0,0,usn17644518,"Quality Electronic Documentation, Inc.",NaN,222 Bittercreek Dr Folsom,"222 Bittercreek Dr Folsom, California",Unknown,Unknown,0,2019-05-10 00:00:00,0,CA,NaN,Sacramento,Folsom,95630.0,38.68338,-121.13188,0
1,1,usn17644520,Foundation Of Educational And Media Init,NaN,240 Natoma Station Dr Apt 297 Folsom,"240 Natoma Station Dr Apt 297 Folsom, California",XS,XS,61,2019-06-28 00:00:00,611699,CA,2002.0,Sacramento,Folsom,95630.0,38.64847,-121.18227,1
2,2,usn17072750,Johnson Corporate Enterprises,NaN,5431 6th Ave Los Angeles,"5431 6th Ave Los Angeles, California",Unknown,Unknown,61,2019-05-10 00:00:00,611699,CA,NaN,Los Angeles,Los Angeles,90043.0,33.99204,-118.32393,2
3,3,usn17206295,"Bright Pharmaceutical Services, Inc.",NaN,4702 Vesper Ave Sherman Oaks,"4702 Vesper Ave Sherman Oaks, California",S,S,42,2019-06-28 00:00:00,424210,CA,1997.0,Los Angeles,Sherman Oaks,91403.0,34.15612,-118.45081,3
4,4,usn17644521,Elsayed Dds Pc,NaN,240 Natoma Station Dr Apt 324 Folsom,"240 Natoma Station Dr Apt 324 Folsom, California",XS,XS,62,2019-06-28 00:00:00,621210,CA,2009.0,Sacramento,Folsom,95630.0,38.64847,-121.18227,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352646,352646,usn17524385,Plush Bucket Com,NaN,455 Arguello Dr Benicia,"455 Arguello Dr Benicia, California",XS,XS,54,2019-06-28 00:00:00,541990,CA,2015.0,Solano,Benicia,94510.0,38.08510,-122.14916,352646
352647,352647,usn17322952,Smerdon Construction Inc.,http://www.tally.gulfnet.com,876 Spruce Ct Brawley,"876 Spruce Ct Brawley, California",XS,XS,5173,2019-06-28 00:00:00,517311,CA,1996.0,Imperial,Brawley,92227.0,32.98755,-115.53760,352647
352648,352648,usn17189884,N.V. Motors Llc,NaN,17050 Chatsworth St Ste 204 Granada Hills,"17050 Chatsworth St Ste 204 Granada Hills, Cal...",Unknown,Unknown,5173,2019-05-10 00:00:00,517311,CA,NaN,Los Angeles,Granada Hills,91344.0,34.26469,-118.50407,352648
352649,352649,usn17581047,International Currency Tech,http://www.ict-america.com,10228 N Stelling Rd Cupertino,"10228 N Stelling Rd Cupertino, California",XS,XS,42,2019-06-28 00:00:00,423440,CA,NaN,Santa Clara,Cupertino,95014.0,37.32573,-122.04143,352649
352650,352650,usn17513819,Durendal Corp.,NaN,787 Chenery St San Francisco,"787 Chenery St San Francisco, California",XS,XS,54,2019-06-28 00:00:00,541990,CA,2013.0,San Francisco,San Francisco,94131.0,37.73461,-122.43515,352650

In [26]:
df[df['last_update'] == search]

,id,company_name,us_state,last_update,company_website,company_address,nature,year_established,activities,state,zip,activities_num,naics_num,final_industry_code,employee_band_company,kompass_id,employee_band_at_address,Latitude,Longitude
40121,40121,Best Home Repair,California,2659 Kadota St Simi Valley CA 93063United States,https://us.kompass.com/c/best-home-repair/usn1...,California,Head Office,2007.0,"Bands, Orchestras, Actors, and Other Entertain...",NaN,NaN,7929.0,711130,71,XS,NaN,XS,NaN,NaN

range(0, 19)

In [84]:
col = df.columns
list(col)

['county_name', 'orgs_count', 'id', 'orgs_score']

pandas.core.indexes.base.Index

In [73]:
col = list(col)
col.pop(0)

'Unnamed: 0'

In [76]:
col
df = df[col]
df.head()

,k_id,company_name,company_website,company_address,address,employee_band_at_address,employee_band_at_company,final_industry_code,last_update,naics_num,state,year_established,county_name,city_name,zipcode,latitude,longitude,id
0,usn17644518,"Quality Electronic Documentation, Inc.",NaN,222 Bittercreek Dr Folsom,"222 Bittercreek Dr Folsom, California",Unknown,Unknown,0,2019-05-10 00:00:00,0,CA,NaN,Sacramento,Folsom,95630.0,38.68338,-121.13188,0
1,usn17644520,Foundation Of Educational And Media Init,NaN,240 Natoma Station Dr Apt 297 Folsom,"240 Natoma Station Dr Apt 297 Folsom, California",XS,XS,61,2019-06-28 00:00:00,611699,CA,2002.0,Sacramento,Folsom,95630.0,38.64847,-121.18227,1
2,usn17072750,Johnson Corporate Enterprises,NaN,5431 6th Ave Los Angeles,"5431 6th Ave Los Angeles, California",Unknown,Unknown,61,2019-05-10 00:00:00,611699,CA,NaN,Los Angeles,Los Angeles,90043.0,33.99204,-118.32393,2
3,usn17206295,"Bright Pharmaceutical Services, Inc.",NaN,4702 Vesper Ave Sherman Oaks,"4702 Vesper Ave Sherman Oaks, California",S,S,42,2019-06-28 00:00:00,424210,CA,1997.0,Los Angeles,Sherman Oaks,91403.0,34.15612,-118.45081,3
4,usn17644521,Elsayed Dds Pc,NaN,240 Natoma Station Dr Apt 324 Folsom,"240 Natoma Station Dr Apt 324 Folsom, California",XS,XS,62,2019-06-28 00:00:00,621210,CA,2009.0,Sacramento,Folsom,95630.0,38.64847,-121.18227,4

In [64]:
col = df.columns
col = list(col)
col = col[0:]
df= df[c]ol

['Unnamed: 0',
 'k_id',
 'company_name',
 'company_website',
 'company_address',
 'address',
 'employee_band_at_address',
 'employee_band_at_company',
 'final_industry_code',
 'last_update',
 'naics_num',
 'state',
 'year_established',
 'county_name',
 'city_name',
 'zipcode',
 'latitude',
 'longitude',
 'id']

In [33]:
col = ['id'] + list(col)[:-1]
col

['id', 'naics_code', 'industry_title', 'ponemon_score']

In [62]:
df = df[col]

In [35]:
df.isnull().sum()

naics_code        0
industry_title    0
ponemon_score     0
indicator         0
dtype: int64

In [88]:
df.to_csv('org_city.csv', index=False)